.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card{
     margin: 50px auto;
     width: 400px;
     display: inline-block;
     vertical-align: middle;  
     border: 1px solid black;
}


img{
    width: 400px;
    height: 250px;
}

.btn-back{
    background-color: rgba(18, 99, 198, 0.826);
    margin-top: 40px;
    margin-left: 30px;
    color: beige;
}

.btn-enroll{
    border: none;
    border-radius: 5px;
    color: beige;
    margin-left: 150px;
    background-color: green;
}

.btn-enrollin{
 margin-left: 160px;
 border: none;
}

mat-icon{
    background-color: red;
    color: beige;
    border-radius: 60%;
}

mat-card-title,
mat-card-subtitle
{
  text-align: center;
}

mat-card-action{
    border: none;
}

mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

.btn-play-video{
    border: none;
}  

.mat-expansion{
    width: 40%;
    margin-left: 450px;
    border: 1px solid grey;
}

::ng-deep .mat-expansion-panel-body {
    text-align: center;
  }