<button mat-raised-button class="btn btn-back"
(click)="backToAllCourses()"
>Back</button>
<div class="container">
    <ng-container >
        <mat-card >
            <img mat-card-image [src]="selectedCourse.image" alt="">
            <mat-card-title>
                {{selectedCourse.name}}
            </mat-card-title>
            <mat-card-subtitle>
                {{selectedCourse.author}}
            </mat-card-subtitle>
            <mat-card-content>
                {{selectedCourse.description}}  
            </mat-card-content>
            <mat-card-actions>
                <button *ngIf="!enrolledIn" mat-raised-button (click)="openDialog(selectedCourse)"class="btn-enroll" >Enroll</button>
                <button  *ngIf="enrolledIn" (click)="showContent()"
                class="btn-enrollin" >
                  <mat-icon  >play_arrow</mat-icon>
                </button> 
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>
<ng-container *ngIf="isShownContent">
  <mat-accordion *ngFor="let lesson of selectedCourse.lessons; let i =index" >
    <mat-expansion-panel class="mat-expansion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Section {{i+1}}:{{lesson.section |titlecase}}
        </mat-panel-title>
        <mat-panel-description>  
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let part of lesson.parts">
        <p>{{part.title |titlecase}}</p>
        <button class="btn-play-video" (click)="playVideo()" >
          <mat-icon>video_library</mat-icon>
        </button> 
        <ng-container *ngIf="isShownVideo">
          <div class="embed-responsive">
            <iframe #youtubePlayer  class="embed-responsive-item"
            [src]="part.source | safe" 
            frameborder="0"
            allowfullscreen width="560" height="315" 
           autoplay
            ></iframe>
          </div>
        </ng-container>  
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>


 